* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #404145;
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.services .swiper-button-next {
  right: -15px;
}

.services .swiper-button-next:focus {
  outline: none;
}

.services .swiper-button-prev {
  left: -15px;
}

.services .swiper-button-prev:focus {
  outline: none;
}

.services .swiper-button-next::after,
.services .swiper-button-prev::after {
  font-family: swiper-icons;
  font-size: 16px;
  font-weight: bold;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 50px;
  padding: 0 19px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eef2f5;
  color: #62646a;
  box-shadow: 1px 2px 5px #b5b6ba;
}

.services .swiper-button-next::after:focus,
.services .swiper-button-prev::after:focus {
  outline: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  left: -3%;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50% !important;
  background-color: #fff !important;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
  transform: translateY(-50%);
}

.owl-prev span,
.owl-next span {
  color: #ddd;
  font-size: 26px;
  font-weight: bold;
  line-height: .6;
}

.owl-prev:focus,
.owl-next:focus {
  outline: none;
}

.owl-next {
  left: unset;
  right: -3%;
}

.btn-green {
  border: 1px solid #1dbf73;
  background-color: #1dbf73;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.btn-green:hover {
  border-color: #19a463;
  background-color: #19a463;
  color: #fff;
}

.btn-white {
  border: 1px solid #555;
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 3px;
  color: #555;
  font-size: 14px;
  font-weight: 700;
}

.btn-white:hover {
  border-color: #1dbf73;
  background-color: #1dbf73;
  color: #fff;
}

/* WMBOX VIDEO */
.wmBox_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.wmBox_centerWrap {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}

.wmBox_centerer {
  display: table-cell;
  vertical-align: middle;
}

.wmBox_centerer iframe {
  width: 95%;
  display: table;
  margin: 0 auto;
  position: relative;
}

.wmBox_contentWrap {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.wmBox_scaleWrap {
  position: relative;
  height: 0;
  padding-top: 20px;
  padding-bottom: 56.25%;
  width: 100%;
}

.wmBox_centerer iframe {
  position: absolute;
  top: 0;
  border: 0;
  outline: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  left: 0;
  width: 100%;
  height: 100%;
}

.wmBox_closeBtn {
  z-index: 2;
  position: relative;
  margin-top: -40px;
}

.wmBox_closeBtn p {
  line-height: 0;
  margin: 0;
  padding: 0.5em 0 0.75em;
  color: #FFF;
  background: #000;
  width: 1.3em;
  font-size: 25px;
  border-radius: 100%;
  text-align: center;
  font-family: Verdana, serif;
  position: relative;
  bottom: -0.5em;
  right: -0.5em;
  cursor: pointer;
  float: right;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

.wmBox_closeBtn p:hover {
  background: #FFF;
  color: #000;
}

header {
  z-index: 10;
  background-color: #edf2f5;
}

header .navbar {
  display: flex;
  justify-content: space-evenly;
}

header .navbar .collapse {
  justify-content: flex-end;
}

header .navbar .collapse .nav-item .nav-link {
  color: #62646a;
  font-size: 16px;
  font-weight: 500;
  transition: .3s;
  text-transform: capitalize;
}

header .navbar .collapse .nav-item:hover .nav-link {
  color: #1dbf73;
}

header .navbar .collapse .nav-item:first-child .nav-link {
  color: #1fd0b6;
}

header .navbar .form-search {
  opacity: 0;
  width: 40%;
}

header .navbar .form-search .input-group {
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  width: 60%;
  height: 40px;
}

header .navbar .form-search .input-group .input-group-text {
  padding: 2px 10px;
  line-height: 1;
  background-color: transparent;
  border: none;
}

header .navbar .form-search .input-group input {
  line-height: 1;
  border: none;
  background-color: transparent;
}

header .navbar .form-search .input-group input:focus {
  border: none;
  box-shadow: none;
}

header .navbar .form-search .input-group input::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

header .navbar .form-search .input-group input:-ms-input-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

header .navbar .form-search .input-group input::-ms-input-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

header .navbar .form-search .input-group input::-moz-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

header .navbar .form-search .input-group input::placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

header .navbar .form-search .input-group .input-group-prepend .input-group-text i {
  color: #999;
}

header .navbar .form-search .input-group .input-group-append {
  cursor: pointer;
}

header .navbar .form-search .input-group .input-group-append:focus {
  border: none;
}

header .navbar .form-search .input-group .input-group-append span {
  background-color: #1dbf73;
  color: #fff;
  transition: .5s;
}

header .navbar .form-search .input-group .input-group-append:hover span {
  background-color: #19a463;
}

header .navscroll {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 15;
  transition: .5s;
  padding: 0 5%;
}

header .navscroll #navbarSupportedContent button {
  border: 1px solid #1dbf73;
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 3px;
  color: #1dbf73;
  font-size: 14px;
  font-weight: 700;
}

header .navscroll #navbarSupportedContent button:hover {
  border-color: #1dbf73;
  background-color: #1dbf73;
  color: #fff;
}

header .navscroll .form-search {
  opacity: 1;
}

header.selling {
  padding: 10px 0;
  background-color: #fff;
}

header.selling .navbar .form-search {
  opacity: 1;
  flex: 1;
}

header.selling .navbar .collapse button {
  border: 1px solid #1dbf73;
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 3px;
  color: #1dbf73;
  font-size: 14px;
  font-weight: 700;
}

header.selling .navbar .collapse button:hover {
  border-color: #fff;
  background-color: #19a463;
  color: #fff;
}

@media screen and (max-width: 992px) {
  header .navbar {
    justify-content: space-between;
  }

  header .navbar .form-search {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header.selling .navbar .navbar-brand {
    flex: 1;
  }
}

@media screen and (max-width: 992px) {
  header.selling .navbar .navbar-brand {
    flex: 1;
  }
}

.carousel {
  background-color: #eef2f5;
  height: 500px;
  position: relative;
}

.carousel .bg-carousel {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 29vw solid;
  border-left: 90vw solid transparent;
  border-bottom-color: #1dbf73;
}

.carousel .carousel__content {
  padding: 10% 0 0 15%;
}

.carousel .carousel__content h1 {
  padding-bottom: 20px;
  color: #404145;
  font-size: 34px;
  font-weight: 700;
}

.carousel .carousel__content .form-search .input-group {
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  width: 60%;
  height: 45px;
}

.carousel .carousel__content .form-search .input-group .input-group-text {
  padding: 2px 10px;
  line-height: 1;
  background-color: transparent;
  border: none;
}

.carousel .carousel__content .form-search .input-group input {
  line-height: 1;
  border: none;
  background-color: transparent;
}

.carousel .carousel__content .form-search .input-group input:focus {
  border: none;
  box-shadow: none;
}

.carousel .carousel__content .form-search .input-group input::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.carousel .carousel__content .form-search .input-group input:-ms-input-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.carousel .carousel__content .form-search .input-group input::-ms-input-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.carousel .carousel__content .form-search .input-group input::-moz-placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.carousel .carousel__content .form-search .input-group input::placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.carousel .carousel__content .form-search .input-group .input-group-prepend .input-group-text i {
  color: #999;
}

.carousel .carousel__content .form-search .input-group .input-group-append {
  cursor: pointer;
}

.carousel .carousel__content .form-search .input-group .input-group-append:focus {
  border: none;
}

.carousel .carousel__content .form-search .input-group .input-group-append span {
  background-color: #1dbf73;
  color: #fff;
  transition: .5s;
}

.carousel .carousel__content .form-search .input-group .input-group-append:hover span {
  background-color: #19a463;
}

.carousel .carousel__content .popular ul {
  list-style: none;
}

.carousel .carousel__content .popular ul li {
  display: inline;
  border: 1px solid #b5b6ba;
  background-color: transparent;
  padding: 0 8px;
  border-radius: 3px;
  transition: .5s;
}

.carousel .carousel__content .popular ul li a {
  color: #62646a;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.carousel .carousel__content .popular ul li:hover {
  border: 1px solid #b5b6ba;
  background-color: #c5c6c9;
  padding: 0 8px;
  border-radius: 3px;
}

.carousel .swiper-container .slider.swiper-wrapper .item__slider.swiper-slide {
  opacity: 0 !important;
}

.carousel .swiper-container .slider.swiper-wrapper .item__slider.swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}

.carousel .slider {
  height: 500px;
}

.carousel .slider .item__slider {
  width: 100%;
  height: 100%;
}

.carousel .slider .item__slider .img__slider {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.carousel .slider .item__slider .img__slider img {
  width: 80%;
  height: 100%;
}

.carousel .slider .item__slider .detail__slider {
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.carousel .slider .item__slider .detail__slider .group__star i {
  color: yellow;
  font-size: 16px;
  padding: 0 2px;
}

.carousel .slider .item__slider .detail__slider .group__star p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.carousel .box__transparent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
  opacity: 0.4;
}

@media screen and (max-width: 992px) {

  .carousel .bg-carousel,
  .carousel .box__transparent,
  .carousel .sliders {
    display: none;
  }

  .carousel .carousel__content h1 {
    text-align: center;
  }
}

.selling__carousel {
  height: 580px;
}

.selling__carousel .carousel-videos {
  width: 100%;
  height: 100%;
  position: relative;
}

.selling__carousel .carousel-videos video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.selling__carousel .carousel__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.selling__carousel .carousel__content h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}

.selling__carousel .carousel__content p {
  font-size: 24px;
}

.selling__carousel .hero__start {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.selling__carousel .hero__start .start-item {
  color: #fff;
  text-align: center;
  font-size: 22px;
}

.selling__carousel .hero__start .start-item strong {
  font-size: 45px;
  font-weight: 500;
}

.services {
  padding-bottom: 2rem;
}

.services .top__services {
  height: 60px;
  box-shadow: 0 2px 5px #ddd;
}

.services .top__services ul {
  list-style: none;
}

.services .top__services ul li {
  display: inline;
  padding: 0 24px;
}

.services .services__main h2 {
  color: #404145;
  font-size: 26px;
  font-weight: 700;
}

.services .services__main .services__content {
  position: relative;
}

.services .services__main .services__content .services__item {
  height: 300px;
  cursor: pointer;
  transition: .5s;
}

.services .services__main .services__content .services__item .img {
  width: 100%;
  height: 100%;
  position: relative;
}

.services .services__main .services__content .services__item .img img {
  width: 100%;
}

.services .services__main .services__content .services__item .item__detail {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff;
}

.services .services__main .services__content .services__item .item__detail p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}

.services .services__main .services__content .services__item .item__detail h4 {
  font-size: 22px;
}

.services .services__main .services__content .services__item:hover {
  opacity: .8;
}

.confidence__content .confidence__text {
  width: 80%;
}

.confidence__content .confidence__text span i {
  width: 20px;
  margin-bottom: 10px;
  color: #1dbf73;
  background-color: transparent;
}

.confidence__content .confidence__text h4 {
  display: inline;
}

.confidence__content .confidence__img {
  position: relative;
}

.confidence__content .confidence__img .img-thumbnail {
  border: none;
}

.confidence__content .confidence__img .confidence__btn--play {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.507);
  color: #fff;
  font-size: 2.3rem;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.confidence__content .confidence__img .confidence__btn--play a {
  color: #fff;
}

.marketplace__content .marketplace__items {
  width: 80%;
  margin: 0 auto;
}

.marketplace__content .marketplace__items .card {
  border: none;
  cursor: pointer;
  align-items: center;
}

.marketplace__content .marketplace__items .card img {
  width: 50px;
  height: 50px;
}

.marketplace__content .marketplace__items .card .card-body hr {
  margin: 0 auto 10px;
  width: 60px;
  height: 1px;
  background-color: #c5c6c9;
  transition: .2s;
}

.marketplace__content .marketplace__items .card:hover .card-body hr {
  width: 100px;
  background-color: #1dbf73;
}

.freelancer__content .card {
  border: none;
}

.freelancer__content .card .card__content {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}

.freelancer__content .card .card__content .card-body .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.freelancer__content .card .card__content .card-body .img img {
  width: 100%;
  border-radius: 50%;
}

.freelancer__content .card .card__content .card-body .text p {
  margin-bottom: 0;
}

.interview {
  margin: 120px auto;
}

.interview .interview__content {
  width: 100%;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
}

.interview .interview__content .interview__video {
  padding: 0;
  position: relative;
}

.interview .interview__content .interview__video .interview__btn--play {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.507);
  color: #fff;
  font-size: 2.3rem;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.interview .interview__content .interview__video .interview__btn--play a {
  color: #fff;
}

.interview .interview__content .interview__text {
  width: 50%;
  margin: 70px 30px;
  letter-spacing: 1.5px;
}

.interview .interview__content .interview__text img {
  width: 40%;
}

@media screen and (max-width: 576px) {
  .interview .interview__content .interview__text {
    text-align: center;
    width: 70%;
    margin: 40px auto 20px;
  }
}

.banner__content .card {
  height: 305px;
}

.banner__content .card img {
  width: 100%;
  height: 100%;
}

.banner__content .card .card-img-overlay {
  width: 50%;
  margin-top: 3%;
  margin-left: 20px;
}

.banner__content .card .card-img-overlay p {
  font-size: 2rem;
}

.banner__content .card .card-img-overlay .btn-text {
  border: 1px solid #1fd0b6;
  background-color: transparent;
  padding: 7px 24px;
  border-radius: 3px;
  color: #1fd0b6;
  transition: .3s;
}

.banner__content .card .card-img-overlay .btn-text:hover {
  border: 1px solid #1fd0b6;
  background-color: #1fd0b6;
  padding: 7px 24px;
  border-radius: 3px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .banner .banner__content .card-img-overlay .card-text {
    font-size: 1.3rem;
  }
}

.stories .stories__content .stories__item .card {
  border: none;
  background-color: #f7f7f7;
}

.stories .stories__content .stories__item .card img {
  width: 100%;
}

.stories .stories__content .stories__item .card .card-body {
  padding-top: 35%;
}

.stories .stories__content .stories__item .card .text__right {
  position: relative;
}

.stories .stories__content .stories__item .card .text__right::before {
  content: "";
  width: 0;
  height: 0;
  right: 100%;
  top: 60%;
  position: absolute;
  border-top: 20px solid transparent;
  border-right: 30px solid #f7f7f7;
  border-bottom: 20px solid transparent;
}

.stories .stories__content .stories__item .card .text__left {
  position: relative;
}

.stories .stories__content .stories__item .card .text__left::after {
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 60%;
  position: absolute;
  border-top: 20px solid transparent;
  border-left: 30px solid #f7f7f7;
  border-bottom: 20px solid transparent;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .stories .stories__content .stories__item .col-md-6 {
    padding: 0;
  }

  .stories .stories__content .stories__item .col-md-6 .card {
    border: none;
    background-color: #f7f7f7;
  }

  .stories .stories__content .stories__item .col-md-6 .card img {
    width: 100%;
  }

  .stories .stories__content .stories__item .col-md-6 .card .card-body {
    padding-top: 25%;
  }

  .stories .stories__content .stories__item .col-md-6 .card .text__right {
    position: relative;
  }

  .stories .stories__content .stories__item .col-md-6 .card .text__right::before {
    display: none;
  }

  .stories .stories__content .stories__item .col-md-6 .card .text__left {
    position: relative;
  }

  .stories .stories__content .stories__item .col-md-6 .card .text__left::after {
    display: none;
  }
}

.work {
  background-color: #f7f7f7;
}

.work .work__content h1 {
  padding: 24px 0;
}

.work .work__item i {
  font-size: 3rem;
  padding: 24px 0;
}

.learn .learn__content {
  background-color: #f7f7f7;
  padding-top: 20px;
}

.learn .learn__content .card {
  background-color: transparent;
  border: none;
}

.learn .learn__content .card .card-header {
  background-color: transparent;
  border: none;
}

.learn .learn__content .card .card-body .btn {
  border: 1px solid none;
  background-color: #1dbf73;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  margin-top: 40px;
}

.learn .learn__content .wmBox {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.learn .learn__content .wmBox .learn__img {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.learn .learn__content .wmBox .learn__img .learn__btn--play {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.507);
  color: #fff;
  font-size: 2.3rem;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.learn .learn__content .wmBox .learn__img .learn__btn--play a {
  color: #fff;
}

.learn .learn__content .wmBox .learn__img img {
  border-radius: 5px;
  cursor: pointer;
}

.learn .learn__content .wmBox .learn__img img:hover+.learn__btn--play {
  background-color: rgba(0, 0, 0, 0.808);
}

.learn .learn__content .learn__text {
  position: relative;
  left: 60px;
  bottom: 80px;
  display: inline;
  cursor: auto;
}

.learn .learn__content .learn__text h5 {
  width: 50%;
  font-size: 1rem;
}

.learn .learn__content .learn__text h5 span {
  font-size: 0.9rem;
  background-color: #1dbf73;
  color: #fff;
  font-weight: bold;
  padding: 0 8px;
}

.learn .learn__content .learn__text p {
  font-size: .7rem;
}

.learn .learn__content .learn__text p span {
  color: #ffc100;
}

.community h2 {
  color: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.community .community__content:hover .hover::after {
  opacity: .8;
}

.community .community__content .community__item {
  height: 350px;
  overflow: hidden;
  padding-bottom: 24px;
}

.community .community__content .community__item img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.community .community__content .community__item .detail {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  width: 90%;
  padding: 10px 10px;
}

.community .community__content .community__item:last-child .cata {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.community .community__content .community__item:last-child .cata i {
  color: #E64F4F;
  font-size: 50px;
  font-weight: 900;
}

.community .community__content .community__item:last-child .cata h2 {
  padding: 10px 0;
}

.community .community__content .hover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.community .community__content .hover::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  z-index: 2;
  opacity: .1;
  transition: .5s;
}

.community .community__content .hover:hover img {
  transform: scale(1.1);
}

.community .community__content .hover:hover::after {
  opacity: .1;
}



/* Business tools */
.business-section-wrapper {
  background-color: #0d084d;
  max-width: 1400px;
  margin: 0px auto;
}

.max-width-container {
  padding: 24px 24px 48px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}

.lohp-inner-row {
  padding-top: 64px;
  padding-bottom: 64px;
}

.row {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.business-section .business-text {
  color: #fff;
  flex-basis: 46.66667%;
  max-width: 46.66667%;
}

.business-section .business-text small {
  display: block;
  padding-bottom: 32px;
}



.business-section .business-text {
  color: #fff;
  padding-right: 5%;
}

.business-section .business-text small .fiverr-business-logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.business-section .business-text small .fiverr-business-logo svg {
  width: 178px;
  height: 22px;
}

.fit-tag.fit-tag-business.fit-tag-full {
  background: #584aff;
}

.fit-tag.fit-tag-business {
  border-color: #584aff;
}

.fit-tag.fit-tag-tiny {
  text-transform: uppercase;
}

.fit-tag {
  font-size: 14px;
  line-height: 120%;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  color: #95979d;
  background: #fafafa;
  padding: 5px;
  border: 1px solid #dadbdd;
}

.fit-tag {
  background: #fff;
  box-sizing: border-box;
  display: inline-block;
  padding: 3px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 999px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
}

.business-section .business-text h2 {
  color: #fff;
}

.lohp-row h2 {
  padding-bottom: 20px;
}

.business-section .business-text ul {
  margin-bottom: 36px;
}

.lohp-row a {
  text-decoration: none;
}

.business-section .business-text li {
  padding-bottom: 12px;
}

.fit-button {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: .15s ease-in-out;
}

.co-white {
  color: #fff;
}

.bg-co-green-700 {
  background-color: #1dbf73;
}

.business-section .business-image {
  margin-top: 32px;
  flex-basis: 53.33333%;
  max-width: 53.33333%;
}

.business-section .business-image img {
  width: calc(100% + 16px);
  margin: 0 -16px 0 0;
}

/* Fiverr Guide */

.fiverr-guides {
  position: relative;
}

.fiverr-guides h2 {
  display: inline-block;
  font: 700 28px/130% "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404145;
}

.lohp-row {
  margin: 0 auto 48px;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.lohp-row h2 {
  padding-bottom: 20px;
}

.row-12 {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.fiverr-guides .guide {
  margin-bottom: 32px;
  padding: 0 0.8px;
}

.lohp-row a {
  text-decoration: none;
}

.fiverr-guides .guide img {
  border-radius: 4px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
  transition: opacity .3s ease-in-out;
}

.fiverr-guides .guide p {
  color: #7a7d85;
}

.fiverr-guides .guide h6 {
  padding-bottom: 2px;
  font: 700 16px/140% "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404145;
  font-size: 18px;
}

.see-more-link {
  color: #4a73e8;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 10px;
}

.signup {
  background-color: #45091b;
  border-radius: 4px;
  overflow: hidden;
  padding: 48px 24px;
  position: relative;
  display: flex;
}

.signup .signup-text {
  z-index: 5;
}

.signup h2 {
  color: #fff;
  padding-bottom: 40px;
}

.lohp-row h2 {
  padding-bottom: 20px;
}

.signup .signup-image img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}


/* Footer */

.site-footer {
  background-color: #fff;
  border-top: 1px solid #e4e5e7;
  position: relative;
}

.site-footer .footer-wrapper {
  margin: 0 auto;
}

.footer-package .footer-collapsibles {
  margin-bottom: 8px;
}

.grid-15 {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.footer-package .footer-collapsibles:after {
  background-color: #e4e5e7;
  content: "";
  height: 1px;
  width: 100%;
  margin: 0 6px;
}

.footer-package .footer-collapsible.fit-collapsible {
  padding-bottom: 4px;
}

.footer-package .fit-collapsible {
  overflow: visible;
  text-align: left;
}

.footer-package .footer-collapsible.fit-collapsible .fit-collapsible-title-wrapper {
  padding-top: 0;
}

.footer-package .fit-collapsible .fit-collapsible-title-wrapper {
  display: flex;
  padding: 20px 0;
  cursor: pointer;
}

.footer-package .fit-collapsible .fit-collapsible-title-wrapper .fit-collapsible-title {
  flex-grow: 1;
}

.footer-package .footer-collapsibles h6 {
  color: #404145;
}

.footer-package .footer-collapsible.fit-collapsible .fit-collapsible-title-wrapper .fit-collapsible-chevron-wrapper {
  justify-content: flex-end;
}

.footer-package .fit-collapsible .fit-collapsible-title-wrapper .fit-collapsible-chevron-wrapper {
  display: inline-flex;
  width: 25px;
  color: inherit;
  align-items: center;
  justify-content: flex-end;
}

.footer-package .fit-collapsible .fit-collapsible-title-wrapper .fit-collapsible-chevron-wrapper .fit-collapsible-chevron {
  position: relative;
  top: 1px;
  display: inline-block;
  cursor: pointer;
  transform: rotate(90deg);
  transition: .2s;
}

.footer-package .fit-icon {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  fill: #222325;
}

.footer-package .fit-icon svg {
  float: left;
  height: 100%;
  width: 100%;
}

user agent stylesheet svg:not(:root) {
  overflow: hidden;
}

.footer-package .footer-collapsible.fit-collapsible .fit-collapsible-content {
  overflow: visible;
}

.footer-package .fit-collapsible .fit-collapsible-content {
  overflow: inherit;
  padding-right: 25px;
}

ul,
ol,
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

ul {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.footer-package .footer-collapsible.fit-collapsible .fit-collapsible-content li:not(:last-child) {
  padding-bottom: 16px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.footer-package .footer-collapsible.fit-collapsible .fit-collapsible-content a {
  color: #7a7d85;
}

a {
  color: #1dbf73;
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.text-display-7 {
  font: 700 16px/140% "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404145;
}

.footer-package .bottom,
.footer-package .right {
  display: flex;
  align-items: center;
}

.footer-package .bottom {
  min-width: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-package .left {
  min-width: 0;
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.site-footer .fiverr-logo-footer svg {
  width: 77px;
  height: 23px;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.site-footer .legal {
  color: #b5b6ba;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 0;
}

.text-body-2,
.tbody-6 {
  font: 400 14px/21px "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #62646a;
}

.site-footer .legal .copyright {
  white-space: nowrap;
  margin-top: 8px;
  min-width: 0;
}

.text-trunc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer-package .right {
  padding-top: 16px;
  width: 100%;
  flex-direction: column;
}

.footer-package .bottom,
.footer-package .right {
  display: flex;
  align-items: center;
}

.site-footer .social {
  max-width: 260px;
  width: 100%;
  display: flex;
  padding-bottom: 16px;
  justify-content: space-between;
}

.site-footer .social li {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  transition: background .2s;
}

.site-footer .social li.twitter a {
  background-position-x: -32px;
}

.site-footer .social a {
  background: url(https://npm-assets.fiverrcdn.com/assets/@fiverr-private/footer/social-icons-dark.82eb045.svg) no-repeat 0 0;
  background-size: 192px;
  display: block;
  height: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a {
  color: #1dbf73;
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.site-footer .social li.facebook a {
  background-position-x: -64px;
}

.site-footer .social li.linkedin a {
  background-position-x: -160px;
}

.site-footer .social li.pinterest a {
  background-position-x: -128px;
}

.site-footer .social li.instagram a {
  background-position-x: -96px;
}

.locale-settings-package.locale-settings-trigger.default,
.locale-settings-package.locale-settings-trigger.lean-menu {
  display: flex;
  align-items: center;
}

.locale-settings-package.locale-settings-trigger.default,
.locale-settings-package.locale-settings-trigger.lean-menu {
  display: flex;
  align-items: center;
}

.locale-settings-package.locale-settings-trigger.default,
.locale-settings-package.locale-settings-trigger.lean-menu {
  display: flex;
  align-items: center;
}


.locale-settings-package .language-selection-trigger.default {
  color: #7a7d85;
  font-weight: 600;
  padding: 8px 12px;
}

.locale-settings-package .language-selection-trigger.default {
  color: #7a7d85;
  font-weight: 600;
  padding: 8px 12px;
}

.locale-settings-package .language-selection-trigger.default {
  color: #7a7d85;
  font-weight: 600;
  padding: 8px 12px;
}

.locale-settings-package .language-selection-trigger {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.locale-settings-package .language-selection-trigger {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.locale-settings-package .language-selection-trigger {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.text-body-2,
.tbody-6 {
  font: 400 14px/21px "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #62646a;
}

button {
  font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
}

button {
  width: auto;
  overflow: visible;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}

.clickable,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

.locale-settings-package .language-selection-trigger .trigger-icon {
  fill: #7a7d85;
  padding-right: 8px;
}

.footer-package .fit-icon {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  fill: #222325;
}

.locale_settings-package .fit-icon {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  fill: #222325;
}

.footer-package .fit-icon svg {
  float: left;
  height: 100%;
  width: 100%;
}

.locale_settings-package .fit-icon svg {
  float: left;
  height: 100%;
  width: 100%;
}

.locale-settings-package.locale-settings-trigger.default .currency-selection-trigger {
  margin-left: 4px;
}

.locale-settings-package .currency-selection-trigger.default {
  color: #7a7d85;
  font-weight: 600;
  padding: 8px 12px;
}

.locale-settings-package .currency-selection-trigger {
  background: none;
  border: none;
}

.text-body-2,
.tbody-6 {
  font: 400 14px/21px "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #62646a;
}

button {
  font-family: macan, helvetica neue, Helvetica, Arial, sans-serif;
}

button {
  width: auto;
  overflow: visible;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}

.clickable,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}


/* QA */

.mp-box {
  background: #f7f7f7;
  margin: 0 auto;
  position: relative;
}

.mp-box:before,
.mp-box:after {
  content: ' ';
  display: table;
}

.mp-box:after {
  clear: both;
}

.mp-box:before,
.mp-box:after {
  content: ' ';
  display: table;
}

::-moz-selection {
  background: #d5d4d2;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #d5d4d2;
  color: #fff;
  text-shadow: none;
}

.mp-box .box-row {
  width: 988px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-40 {
  padding-top: 40px !important;
}

.cf {
  zoom: 1;
}

.mp-hp-landing .box-row>header h2 {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 30px;
  color: #222325;
}

body:not(.is-mobile-responsive) ul.component-accordion.col-count-2:nth-of-type(1) {
  margin-right: 1%;
}

body:not(.is-mobile-responsive) ul.component-accordion.col-count-2 {
  width: 49%;
  float: left;
}

body ul.component-accordion {
  margin: 0;
  padding: 0;
  width: 100%;
}

body ul.component-accordion li.lp {
  border-left: 5px transparent solid;
  transition: border-color, .3s;
}

body ul.component-accordion li {
  background-color: #fff;
  cursor: pointer;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
  color: transparent;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: left;
  border-radius: 3px;
  box-sizing: border-box;
  transition: color .3s;
}

body ul.component-accordion li.lp header {
  font-weight: 700;
}

body ul.component-accordion li header {
  display: block;
  padding: 20px 15px;
  cursor: pointer;
  color: #0e0e0f;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body ul.component-accordion li.lp header:before {
  content: "\f107";
  color: #0e0e0f;
  font-size: 15px;
  font-family: FontAwesome;
  float: right;
  transition: transform .3s;
}

body ul.component-accordion li .panel {
  margin: 0;
  max-height: 0;
  padding: 0 20px 0 0;
  transition: max-height .3s, padding-top .3s;
}

body:not(.is-mobile-responsive) ul.component-accordion.col-count-2:nth-of-type(2) {
  margin-left: 1%;
}

body:not(.is-mobile-responsive) ul.component-accordion.col-count-2 {
  width: 49%;
  float: left;
}

body ul.component-accordion {
  margin: 0;
  padding: 0;
  width: 100%;
}

.mp-box .box-row:after {
  clear: both;
}

.mp-box .box-row:before,
.mp-box .box-row:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.mp-start-selling .selling-cta {
  font-size: 18px;
  line-height: 120%;
  text-align: center;
}

.mp-box.mp-box-white-noborder {
  background: #fff;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.btn-lrg-standard {
  background-color: #1dbf73;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  border: 1px solid transparent;
  padding: 15px 35px;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  box-sizing: border-box;
  transition: color .2s, background-color .2s, box-shadow .2s, border .2s;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-20 {
  margin-top: 20px !important;
}


/* footer */

.site-footer {
  background-color: #fff;
  border-top: 1px solid #e4e5e7;
  position: relative;
}

.site-footer.lean .max-width-container {
  padding-top: 0;
  padding-bottom: 16px;
}

.site-footer .footer-wrapper.max-width-container {
  padding-bottom: 24px;
}

.site-footer .footer-wrapper {
  margin: 0 auto;
}

.footer-package .bottom,
.footer-package .right {
  display: flex;
  align-items: center;
}

.footer-package .bottom {
  min-width: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-package .left {
  min-width: 0;
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}