.btn-green{
    @include styleButton($color-green-0,$color-green-0,$pd-1 + 2,$pd-2 + 4,$border-radius);
    @include styleText($color-white-0,$fs-1,$fw-bold-2);
    &:hover{
        @include styleButtonHover($color-green-1,$color-green-1,$color-white-0);
    }
}
.btn-white{
    @include styleButton($color-gray-2,$color-white-0,$pd-0,$pd-2,$border-radius);
    @include styleText($color-gray-2,$fs-1,$fw-bold-2);
    &:hover{
        @include styleButtonHover($color-green-0,$color-green-0,$color-white-0);
    }
}