/* WMBOX VIDEO */
.wmBox_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.wmBox_centerWrap {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}

.wmBox_centerer {
  display: table-cell;
  vertical-align: middle;
}

.wmBox_centerer iframe {
  width: 95%;
  display: table;
  margin: 0 auto;
  position: relative;
}

.wmBox_contentWrap {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.wmBox_scaleWrap {
  position: relative;
  height: 0;
  padding-top: 20px;
  padding-bottom: 56.25%;
  width: 100%;
}

.wmBox_centerer iframe {
  position: absolute;
  top: 0;
  border: 0;
  outline: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  left: 0;
  width: 100%;
  height: 100%;
}

.wmBox_closeBtn {
  z-index: 2;
  position: relative;
  margin-top: -40px;
}

.wmBox_closeBtn p {
  line-height: 0;
  margin: 0;
  padding: 0.5em 0 0.75em;
  color: #FFF;
  background: #000;
  width: 1.3em;
  font-size: 25px;
  border-radius: 100%;
  text-align: center;
  font-family: Verdana, serif;
  position: relative;
  bottom: -0.5em;
  right: -0.5em;
  cursor: pointer;
  float: right;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

.wmBox_closeBtn p:hover {
  background: #FFF;
  color: #000;
}