// variable color
$color-black-0: #404145; // default
$color-white-0: #fff; //default
$color-gray-1: #62646a;
$color-gray-2: #555;
$color-gray-3: #999;
$color-gray-4: #ddd;
$color-gray-5:#b5b6ba;
$color-gray-6:#eef2f5;
$color-orange: #e7643e;
$color-green-0:#1dbf73;
$color-green-1: #19a463;
$color-green-2:#1fd0b6;
$color-green-3: #02b09a;
$color-linear:linear-gradient(180deg,transparent,rgba(0,0,0,.7));

$color-trans:transparent;

// variable font-size
$fs-0: 16px; //default
$fs-1: 14px;
$fs-2: 18px;
$fs-3: 22px;
$fs-4: 26px;
$fs-5: 50px;

//variable margin
$mg-0: 2px;
$mg-1: 12px;
$mg-2: 25px;
$mg-3: 40px;

//variable border-radius
$border-radius: 3px;

//variable padding
$pd-0: 7px; //default
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 24px;
$pd-4: 55px;


//variable line-height

$line-height-0: 29px; 


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 400;
$fw-bold-1: 500;
$fw-bold-2: 700;
$fw-bold-3: 900;
$fw-thin: 300;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)