.services {
    .swiper-button-next {
        right: -15px;

        &:focus {
            outline: none;
        }
    }

    .swiper-button-prev {
        left: -15px;

        &:focus {
            outline: none;
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-family: swiper-icons;
        font-size: 16px;
        font-weight: bold;
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 50px;
        padding: 0 19px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $color-gray-6;
        color: $color-gray-1;
        box-shadow: 1px 2px 5px $color-gray-5;

        &:focus {
            outline: none;
        }
    }
}


.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    left: -3%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50% !important;
    background-color: #fff !important;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    transform: translateY(-50%);

    span {
        @include styleText($color-gray-4, $fs-4, bold);
        line-height: .6;
    }

    &:focus {
        outline: none;
    }
}

.owl-next {
    left: unset;
    right: -3%;
}