* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Noto Sans JP', sans-serif;
    @include styleText($color-black-0, $fs-0, $fw-normal);
    overflow-x: hidden;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}