.banner__content {
  .card {
    height: 305px;

    img {
      width: 100%;
      height: 100%;
    }

    .card-img-overlay {
      width: 50%;
      margin-top: 3%;
      margin-left: 20px;

      p {
        font-size: 2rem;
      }

      .btn-text {
        @include styleButton($color-green-2, $color-trans, $pd-0, $pd-3, $border-radius);
        color: $color-green-2;
        transition: .3s;

        &:hover {
          @include styleButton($color-green-2, $color-green-2, $pd-0, $pd-3, $border-radius);
          color: $color-white-0;
        }
      }
    }
  }
}

.banner {
  @include responsive('medium') {
    .banner__content {
      .card-img-overlay {
        .card-text {
          font-size: 1.3rem;
        }
      }
    }
  }
}