.carousel {
    background-color: $color-gray-6;
    height: 500px;
    position: relative;

    .bg-carousel {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 29vw solid;
        border-left: 90vw solid transparent;
        border-bottom-color: $color-green-0;
    }

    .carousel__content {
        padding: 10% 0 0 15%;

        h1 {
            padding-bottom: $pd-2;
            @include styleText($color-black-0, $fs-4 + 8, $fw-bold-2);
        }

        .form-search .input-group {
            border: 1px solid $color-gray-4;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $color-white-0;
            width: 60%;
            height: 45px;

            .input-group-text {
                padding: 2px 10px;
                line-height: 1;
                background-color: transparent;
                border: none;
            }

            input {
                line-height: 1;
                border: none;
                background-color: transparent;

                &:focus {
                    border: none;
                    box-shadow: none;
                }
            }

            input::-webkit-input-placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            input::-moz-placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            input:-ms-input-placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            input::-ms-input-placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            input::placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            .input-group-prepend {
                .input-group-text {
                    i {
                        color: $color-gray-3;
                    }
                }
            }

            .input-group-append {
                cursor: pointer;

                &:focus {
                    border: none;
                }

                span {
                    background-color: $color-green-0;
                    color: $color-white-0;
                    transition: .5s;
                }

                &:hover {
                    span {
                        background-color: $color-green-1;
                    }
                }
            }
        }

        .popular {
            ul {
                list-style: none;

                li {
                    display: inline;
                    @include styleButton($color-gray-5, $color-trans, 0, $pd-0 + 1, $border-radius);
                    transition: .5s;

                    a {
                        @include styleText($color-gray-1, $fs-1, $fw-thin);
                        text-decoration: none;
                    }

                    &:hover {
                        @include styleButton($color-gray-5, #c5c6c9, 0, $pd-0 + 1, $border-radius);
                    }
                }
            }
        }

    }

    .swiper-container {
        .slider.swiper-wrapper {
            .item__slider.swiper-slide {
                opacity: 0 !important;
            }

            .item__slider.swiper-slide.swiper-slide-active {
                opacity: 1 !important;
            }
        }
    }

    .slider {
        height: 500px;

        .item__slider {
            width: 100%;
            height: 100%;

            .img__slider {
                width: 100%;
                height: 100%;

                position: relative;
                z-index: 5;

                img {
                    width: 80%;
                    height: 100%;
                }
            }

            .detail__slider {
                position: absolute;
                z-index: 6;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

                .group__star {
                    i {
                        color: yellow;
                        font-size: $fs-0;
                        padding: 0 2px;
                    }

                    p {
                        @include styleText($color-white-0, $fs-1, $fw-thin)
                    }
                }
            }
        }

    }

    .box__transparent {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7));
        opacity: 0.4;
    }

}


.carousel {

    @include responsive("large") {

        .bg-carousel,
        .box__transparent,
        .sliders {
            display: none;
        }

        .carousel__content {
            h1 {
                text-align: center;
            }
        }

    }

}