.community{
    h2{
        @include styleText($color-linear,32px,$fw-bold-1);
        text-align: center;
    }
    .community__content{
        &:hover{
            .hover{
                &::after{
                    opacity: .8;
                }
            }
        }
        .community__item{
            height: 350px;
            overflow: hidden;
            padding-bottom: $pd-3;
            img{
                position: relative;
                width: 100%;
                height: 100%;
                transition: .5s;
            }
            .detail{
                position: absolute;
                bottom: 0;
                @include styleText($color-white-0,$fs-3 + 2, $fw-bold-1);
                width: 90%;
                padding: $pd-1 $pd-1;
            }
        }
        .community__item:last-child{
            .cata{
                text-align: center;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;
                i{
                    @include styleText(#E64F4F,$fs-5,$fw-bold-3)
                }
                h2{
                    padding: $pd-1 0;
                }
            }
        }
        .hover{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &::after{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 100%;
                background: #1f1f1f;
                z-index: 2;
                opacity: .1;
                transition: .5s;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
                &::after{
                    opacity: .1;
                }
            }
        }
    }
}