.confidence__content {
  .confidence__text {
    width: 80%;

    span {
      i {
        width: 20px;
        margin-bottom: 10px;
        color: $color-green-0;
        background-color: transparent;
      }
    }

    h4 {
      display: inline;
    }
  }

  .confidence__img {
    position: relative;

    .img-thumbnail {
      border: none;
    }

    .confidence__btn--play {
      width: 80px;
      height: 80px;
      background-color: rgba(0, 0, 0, 0.507);
      color: $color-white-0;
      font-size: 2.3rem;
      text-align: center;
      line-height: 80px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;

      a {
        color: $color-white-0;
      }
    }
  }
}