.freelancer__content {
  .card {
    border: none;

    .card__content {
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: 5px;

      .card-body {
        .img {
          width: 50px;
          height: 50px;
          border-radius: 50%;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }

        .text {
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}