header {
    z-index: 10;
    background-color: #edf2f5;

    .navbar {
        display: flex;
        justify-content: space-evenly;

        .collapse {
            justify-content: flex-end;

            .nav-item {
                .nav-link {
                    @include styleText($color-gray-1, $fs-0, $fw-bold-1);
                    transition: .3s;
                    text-transform: capitalize;
                }

                &:hover .nav-link {
                    color: $color-green-0;
                }
            }

            .nav-item:first-child {
                .nav-link {
                    color: $color-green-2;
                }
            }
        }

        .form-search {
            opacity: 0;
            width: 40%;
        }

        .form-search .input-group {
            border: 1px solid $color-gray-4;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $color-white-0;
            width: 60%;
            height: 40px;

            .input-group-text {
                padding: 2px 10px;
                line-height: 1;
                background-color: transparent;
                border: none;
            }

            input {
                line-height: 1;
                border: none;
                background-color: transparent;

                &:focus {
                    border: none;
                    box-shadow: none;
                }
            }

            input::-webkit-input-placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            input::-moz-placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            input:-ms-input-placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            input::-ms-input-placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            input::placeholder {
                @include styleText($color-gray-3, $fs-1, $fw-thin);
            }

            .input-group-prepend {
                .input-group-text {
                    i {
                        color: $color-gray-3;
                    }
                }
            }

            .input-group-append {
                cursor: pointer;

                &:focus {
                    border: none;
                }

                span {
                    background-color: $color-green-0;
                    color: $color-white-0;
                    transition: .5s;
                }

                &:hover {
                    span {
                        background-color: $color-green-1;
                    }
                }
            }
        }
    }

    .navscroll {
        background-color: $color-white-0;
        position: fixed;
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        z-index: 15;
        transition: .5s;
        padding: 0 5%;

        #navbarSupportedContent {
            button {
                @include styleButton($color-green-0, $color-white-0, $pd-0, $pd-2, $border-radius);
                @include styleText($color-green-0, $fs-1, $fw-bold-2);

                &:hover {
                    @include styleButtonHover($color-green-0, $color-green-0, $color-white-0);
                }
            }
        }

        .form-search {
            opacity: 1;
        }
    }
}
header.selling{
    padding: $pd-1 0;
    background-color: $color-white-0;
    .navbar{
        .form-search{
            opacity: 1;
            flex: 1;
        }

        .collapse{
            button{
                @include styleButton($color-green-0,$color-white-0,$pd-0,$pd-2,$border-radius);
                @include styleText($color-green-0,$fs-1,$fw-bold-2);
                &:hover{
                    @include styleButtonHover($color-white-0,$color-green-1,$color-white-0);
                }
            }
        }
    }
}


// respoinsive
header {
    @include responsive("large") {
        .navbar {
            justify-content: space-between;

            .form-search {
                display: none;
            }
        }
    }
}
header.selling{
    @include responsive("medium"){
        .navbar{
            .navbar-brand{
                flex: 1;
            }
        }
    }
    @include responsive("large"){
        .navbar{
            .navbar-brand{
                flex: 1;
            }
        }
    }
}