.interview {
  // width: 1400px;
  margin: 120px auto;


  .interview__content {
    width: 100%;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .15);

    .interview__video {
      padding: 0;
      position: relative;

      .interview__btn--play {
        width: 80px;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.507);
        color: $color-white-0;
        font-size: 2.3rem;
        text-align: center;
        line-height: 80px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        a {
          color: $color-white-0;
        }
      }
    }

    .interview__text {
      width: 50%;
      margin: 70px 30px;
      letter-spacing: 1.5px;

      img {
        width: 40%;
      }
    }
  }
}

.interview {
  @include responsive('small') {
    .interview__content {
      .interview__text {
        text-align: center;
        width: 70%;
        margin: 40px auto 20px;
      }
    }
  }
}