.learn {
  .learn__content {
    background-color: #f7f7f7;
    padding-top: $pd-2;

    .card {
      background-color: transparent;
      border: none;

      .card-header {
        background-color: transparent;
        border: none;
      }

      .card-body {
        .btn {
          @include styleButton(none, $color-green-0, $pd-1, $pd-2, $border-radius);
          color: #fff;
          font-weight: bold;
          margin-top: $mg-3;
        }
      }
    }

    .wmBox {
      position: relative;
      color: #fff;
      text-decoration: none;

      .learn__img {
        width: 85%;
        margin: 0 auto;
        position: relative;

        .learn__btn--play {
          width: 80px;
          height: 80px;
          background-color: rgba(0, 0, 0, 0.507);
          color: $color-white-0;
          font-size: 2.3rem;
          text-align: center;
          line-height: 75px;
          border-radius: 50%;
          border: 2px solid #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          a {
            color: $color-white-0;
          }
        }

        img {
          border-radius: 5px;
          cursor: pointer;

          &:hover+.learn__btn--play {
            background-color: rgba(0, 0, 0, 0.808);
          }
        }
      }
    }

    .learn__text {
      position: relative;
      left: 60px;
      bottom: 80px;
      display: inline;
      cursor: auto;

      h5 {
        width: 50%;
        font-size: 1rem;

        span {
          font-size: 0.9rem;
          background-color: $color-green-0;
          color: #fff;
          font-weight: bold;
          padding: 0 8px;
        }
      }

      p {
        font-size: .7rem;

        span {
          color: #ffc100;
        }
      }
    }
  }
}