.marketplace__content {
  .marketplace__items {
    width: 80%;
    margin: 0 auto;

    .card {
      border: none;
      cursor: pointer;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
      }

      .card-body {
        hr {
          margin: 0 auto 10px;
          width: 60px;
          height: 1px;
          background-color: #c5c6c9;
          transition: .2s;
        }
      }

      &:hover {
        .card-body {
          hr {
            width: 100px;
            background-color: $color-green-0;
          }
        }
      }
    }
  }
}