.selling__carousel{
    height: 580px;
    .carousel-videos{
        width: 100%;
        height: 100%;
        position: relative;
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .carousel__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: $color-white-0;
        h1{
            @include styleText($color-white-0,$fs-5,$fw-bold-2);
            text-transform: capitalize;
        }
        p{
            font-size: $fs-3 + 2;
        }
    }
    .hero__start{
        background-color: rgba(255, 255, 255, 0.3);
        padding: $pd-1 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        .start-item{
            color: $color-white-0;
            text-align: center;
            font-size: $fs-3;
            strong{
                font-size: $fs-5 - 5;
                font-weight: $fw-bold-1;
            }
        }
    }
}