.services{
    padding-bottom: 2rem;
    .top__services{
        height: 60px;
        box-shadow: 0 2px 5px $color-gray-4;
        ul{
            list-style: none;
            li{
                display: inline;
                padding: 0 $pd-3;
            }
        }
        
    }
    .services__main{
        h2{
            @include styleText($color-black-0,$fs-4,$fw-bold-2)
        }
        .services__content{
            position: relative;
            .services__item{
                height: 300px;
                cursor: pointer;
                transition: .5s;
                .img{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    img{
                        width: 100%;
                    }
                }
                .item__detail{
                    position: absolute;
                    top: 0;
                    left: 0;
                    
                    padding: $pd-2;
                    color: $color-white-0;
                    p{
                        font-size: $fs-1 + 1;
                        font-weight: $fw-thin;
                        margin: 0;
                    }
                    h4{
                        font-size: $fs-3;
                    }
                }
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}