.stories {
  .stories__content {
    .stories__item {
      .card {
        border: none;
        background-color: #f7f7f7;

        img {
          width: 100%;
        }

        .card-body {
          padding-top: 35%;
        }

        .text__right {
          position: relative;

          &::before {
            content: "";
            width: 0;
            height: 0;
            right: 100%;
            top: 60%;
            position: absolute;
            border-top: 20px solid transparent;
            border-right: 30px solid #f7f7f7;
            border-bottom: 20px solid transparent;
          }
        }

        .text__left {
          position: relative;

          &::after {
            content: "";
            width: 0;
            height: 0;
            left: 100%;
            top: 60%;
            position: absolute;
            border-top: 20px solid transparent;
            border-left: 30px solid #f7f7f7;
            border-bottom: 20px solid transparent;
            z-index: 1;
          }
        }
      }
    }
  }
}

@include responsive('medium') {
  .stories {
    .stories__content {
      .stories__item {
        .col-md-6 {
          padding: 0;

          .card {
            border: none;
            background-color: #f7f7f7;

            img {
              width: 100%;
            }

            .card-body {
              padding-top: 25%;
            }

            .text__right {
              position: relative;

              &::before {
                display: none;
              }
            }

            .text__left {
              position: relative;

              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}